.box {
	height: 200px;
	display: inline-block;
	width: 24%;
}

.springgreen {
	background-color: springgreen;
}

.cyan {
background-color: cyan;
}

.teal {
	background-color: teal;
}

.dodgerblue {
	background-color: dodgerblue;
}

@media (min-width: 1000px) {
	.box {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.teal, .dodgerblue {
		display: none;
	}
}